<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Comentario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/crearcomentario.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div class="crearcomentario-wrapper">
<h1 class="crearcomentario-title">Nuevo Comentario</h1>

<form th:action="@{/guardarComentario}" method="post" class="crearcomentario-form">

    <label>ID Usuario:</label>
    <input type="number" name="id_usuario"><br>

    <label>ID Propiedad:</label>
    <input type="number" name="id_propiedad"><br>

    <label>Comentario:</label>
    <input type="text" name="comentario"><br>

    <label>Puntuación (1-5):</label>
    <input type="number" name="puntuacion"><br>

    <button type="submit">Guardar</button>

</form>

<br>
<a th:href="@{/}" class="crearcomentario-back">⬅ Volver al inicio</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>