<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear Propiedad</title>
</head>
<body>

<h1>Nueva Propiedad</h1>


<form action="/guardarPropiedad" method="post">

  <label>Título:</label>
  <input type="text" name="titulo"><br>

  <label>Descripción:</label>
  <input type="text" name="descripcion"><br>

  <label>Precio:</label>
  <input type="number" name="precio"><br>

  <label>Ubicación:</label>
  <input type="text" name="ubicacion"><br>

  <label>Capacidad:</label>
  <input type="number" name="capacidad"><br>

  <label>Propietario:</label>
  <select name="id_usuario">

    <option th:each="u : ${propietarios}"
            th:value="${u.id}"
            th:text="${u.nombre}">
    </option>

  </select>

  <button type="submit">Guardar</button>

</form>

</body>
<a href="/">
  <button>➕ ⬅ Volver al inicio</button></a>
</html>