<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alohame</title>
</head>
<body>

<h1>Bienvenido a Alohame</h1>

<ul>
    <li>
        Usuarios
        <ul>
            <li><a href="/usuarios">Ver usuarios</a></li>
            <li><a href="/crearUsuario">Crear usuario</a></li>
        </ul>
    </li>

    <li>
        Propiedades
        <ul>
            <li><a href="/propiedades">Ver propiedades</a></li>
            <li><a href="/crearPropiedad">Crear propiedad</a></li>
        </ul>
    </li>

    <li>
        Reservas
        <ul>
            <li><a href="/reservas">Ver reservas</a></li>
            <li><a href="/crearReserva">Crear reserva</a></li>
        </ul>
    </li>

    <li>
        Comentarios
        <ul>
            <li><a href="/comentarios">Ver comentarios</a></li>
            <li><a href="/crearComentario">Crear comentario</a></li>
        </ul>
    </li>
</ul>

</body>
</html>