<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alohame</title>
</head>
<body>

<h1>Bienvenido a Alohame</h1>

<ul>
    <li>
        Usuarios
        <ul>
            <li><a href="/usuarios">Ver usuarios</a></li>
            <li><a href="/crearUsuario">Crear usuario</a></li>
        </ul>
    </li>

    <li>
        Propiedades
        <ul>
            <li><a href="/propiedades">Ver propiedades</a></li>
            <li><a href="/crearPropiedad">Crear propiedad</a></li>
        </ul>
    </li>

    <li>
        Reservas
        <ul>
            <li><a href="/reservas">Ver reservas</a></li>
            <li><a href="/crearReserva">Crear reserva</a></li>
        </ul>
    </li>

    <li>
        Comentarios
        <ul>
            <li><a href="/comentarios">Ver comentarios</a></li>
            <li><a href="/crearComentario">Crear comentario</a></li>
        </ul>
    </li>
</ul>
<!-- SI NO está logueado -->
<div th:if="${session.usuario == null}">
    <a href="/login">
        <button>🔐 Iniciar sesión</button>
    </a>
</div>

<!-- SI está logueado -->
<div th:if="${session.usuario != null}">
    <p th:text="'Bienvenido ' + ${session.usuario['nombre']}"></p>

    <a href="/logout">
        <button>🚪 Cerrar sesión</button>
    </a>
</div>
</div>
</body>
</html>