<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Propiedades</title>
</head>
<body>

<h1>Lista de Propiedades</h1>

<a href="/crearPropiedad">
<button>➕ Crear propiedad</button></a>

<table border="1">
    <tr>
        <th>Título</th>
        <th>Ubicación</th>
        <th>Precio</th>
        <th>Capacidad</th>
    </tr>

    <tr th:each="p : ${propiedades}">

        <td>
            <a th:href="@{'/propiedad/' + ${p.id}}">
                <span th:text="${p.titulo}"></span>
            </a>
        </td>

        <p th:text="${p['titulo']}"></p>
        <p th:text="${p['capacidad']}"></p>
        <p th:text="${p['precio_noche']}"></p>

        <td>
            <a th:href="@{'/propiedad/' + ${p.id}}">
                <img th:src="@{${p.url}}" width="150"/>
            </a>
    </tr>

</table>

<a href="/">
    <button>➕ ⬅ Volver al inicio</button></a>

</body>
</html>